<h1><%=@product.name %></h1>
	<%=@product.kind %>  <br/>
	<%=@product.description %> <br/>
	<%=@product.artist %> <br/>
	<%=@product.price %> <br/>
	<%=@product.quantity %> <br/>
	<%=@product.tagline %> <br/>
	<img src="<%=@product.image.first %>">	<br/>
