<!DOCTYPE html>
<html>
<head>
  <title>AzizArts</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  	<ul class="hmenu">
		<li><%= link_to "Products", root_path %></li>
	  <li><%= render 'shared/registration_items' %></li>
	  <li><%= render 'shared/login_items' %></li>
	</ul>
	 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
